<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
</head>
<body>
    <div id="app">
        
        <div v-for="obj in array">
            <p>{{ obj.text }}</p>
        </div>
        
        <p v-if="seen">{{ message }}</p>

        <input v-model="message" type="text" style="width: 500px;" /> <br>

        <button v-on:click="showMessage">Show Message</button>

        <hr>

        <todo-item-simple></todo-item-simple>

        <ol>
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
            ></todo-item>
        </ol>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>